nav {
     background-color: pink;
     display: flex;
     justify-content: space-between;
     padding: 20px;
}

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("bg.jpg");
    background-position: center;
    background-size: cover;
}

img {
    margin: 10px;
    width: auto;
}

textarea {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    color: bisque;
}

.Heading {
    margin-block: 10px;
    padding: 10px;
    display: flex;
    gap: 20px;
    border: 1px solid #ddd;
    backdrop-filter: blur(30px);
    border-radius: 20px;
}

#Account-Overview, #Finance {
    padding: 10px;
}

.accinfo, .balinfo, .bankop, .Tools {
    display: flex;
    gap:  1.5cm;
    margin-bottom: 1cm;
}

.balinfo input {
    margin-left: 3cm;
}

button {
    padding: 5px 10px;
    background-color: coral;
}

select {
    padding: 5px 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border: 3px solid #ddd;
}

.box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    backdrop-filter: blur(30px);
}